@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
 
canvas {
  display: block;
}